<input type="text" [(ngModel)]="newName">
<button (click)="addUserToService()">Add user to the service</button>

<div id="app">
  <h3 *ngIf="isRecognized">You are {{recognizedUser.name}}</h3>
  <div><video #video id="video" width="640" height="480" autoplay></video></div>
  <mat-progress-bar *ngIf="this.loading" mode="indeterminate"></mat-progress-bar>
  <div>
    <select [(ngModel)]="selectedUser">
      <option *ngFor="let member of members" [ngValue]="member">{{member.name}}</option>
    </select>
    <button mat-raised-button color="primary" *ngIf="!this.loading" id="snap" (click)="capture()">Detect your face</button>
    <button mat-raised-button color="primary" *ngIf="!this.loading && selectedUser != null" id="snap" (click)="captureAndAddFace(50)">Add more info to your face</button>
    <button mat-raised-button color="primary" *ngIf="!this.loading" id="snap" (click)="identify()">identify you</button>
  </div>
  <canvas #canvas id="canvas" width="640" height="480"></canvas>
<img *ngIf="this.urlPicture != null" [(src)]="this.urlPicture">
</div>
